body {
	background:
	url("https://abrilsuperinteressante.files.wordpress.com/2005/11/escola-2.png");
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	background: white;
	border-radius: 50px;
	
}

.button {
	background-color: #f5f5f5;
	font-size: 100%;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: black;
	cursor: pointer;
	padding: 5px 10px 6px 7px; /* Links */
	margin-top: 320px;
	box-shadow: 3px 3px 3px 3px black;
	border: 3px solid;
	height: 34px;
}

input.button:focus{
	outline: 0;
}